@{
    ViewData["Title"] = "Add Department";
}

<h2>Add New Department</h2>

<form method="post" action="/Department/Add">
    <div>
        <label>Name:</label>
        <input type="text" name="Name" />
    </div>
    <br />
    <div>
        <label>Manager Name:</label>
        <input type="text" name="MgrName" />
    </div>
    <br />
    <button type="submit">Save</button>
    <a href="/Department/ShowAll">Cancel</a>
</form>